/* singlepackage.css */
.photoarray .grid {
  display: grid;
  gap: 1rem;
}

.photoarray .grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.main-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.secondary-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}



@media (max-width: 992px) {
  .photoarray .grid-cols-3 {
    grid-template-columns: 1fr;
  }

  .main-image {
    height: 200px;
  }

  .secondary-image {
    height: 100px;
  }
}
