.logo{
  width: 45px;
  height: 6vh;
}
.name{
  margin-bottom: 2px;
}
.main {
  display: flex;
  padding-left: 50px;
  padding-bottom: 10px;
}
.welcome-heading {
  color: #007bff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}