:root {
  --primary-color: blue;
  --secondary-color: white;
  --background-color: rgba(255, 255, 255, 0.8);
  --text-color: #333;
}

.main-content {
  padding: 20px;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background: url('../Assests/hero_general.webp') no-repeat center center;
  background-size: cover;
  color: var(--secondary-color);
  position: relative;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: var(--primary-color);
  padding: 30px;
  margin-bottom: 60px; /* Adjusted to provide space above the search box */
}

.search-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.search-box input,
.search-box button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px; /* Set a fixed width */
}

.search-box button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  border: none;
  width: 100px; /* Set a fixed width */
}

.themes {
  text-align: center;
  padding: 50px 20px;
}

.themes-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.themes_h1 {
  margin-bottom: 25px;
  color: var(--primary-color);
}

.theme-item {
  width: 100%;
  max-width: 150px;
  height: 150px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.theme-item img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.theme-item:hover {
  transform: scale(1.05);
}

.whatsapp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.whatsapp-link {
  text-decoration: none;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.whatsapp-icon {
  font-size: 3rem;
}

.whatsapp-text {
  margin-left: 10px;
  color: var(--secondary-color);
  font-size: 1.25rem;
}

@media (max-width: 992px) {
  .hero h1 {
    font-size: 28px;
  }

  .search-box {
    flex-direction: column;
    align-items: center;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .search-box input,
  .search-box button {
    width: 100%;
    max-width: 300px;
  }

  .themes-container {
    gap: 10px;
  }

  .theme-item {
    max-width: 120px;
    height: 120px;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 24px;
  }

  .themes-container {
    gap: 10px;
  }

  .theme-item {
    max-width: 100px;
    height: 100px;
  }

  .whatsapp-container {
    justify-content: center;
  }

  .whatsapp-text {
    font-size: 1rem;
  }

  .search-box input,
  .search-box button {
    width: 100%;
    max-width: 280px;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 20px;
    padding: 20px;
  }

  .theme-item {
    max-width: 80px;
    height: 80px;
  }

  .whatsapp-icon {
    font-size: 2.5rem;
  }

  .whatsapp-text {
    font-size: 1rem;
  }

  .search-box {
    flex-direction: column;
    align-items: center;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .search-box input,
  .search-box button {
    width: 100%;
    max-width: 240px;
  }
}
