/* src/components/Homepage.css */
.landing-page {
  font-family: Arial, sans-serif;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-header {
  background: url("../Assests/Beautiful.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

.header-title {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0;
}

.header-subtitle {
  font-size: 2.5rem;
  font-weight: 700;
  color: #95d2b3;
  text-transform: uppercase;
}

.highlight {
  color: #d8efd3;
}

.quote-form {
  position: absolute;
  bottom: 20px;
  width: 70%;
  max-width: 1000px;

  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.quote-form .form-control {
  margin-bottom: 10px;
}

.get-quotes-button {
  width: 100%;
}

@media (min-width: 768px) {
  .header-title {
    font-size: 2rem;
  }

  .header-subtitle {
    font-size: 4rem;
  }

  .quote-form .form-control {
    margin-bottom: 0;
  }

  .get-quotes-button {
    width: auto;
  }
}
