/* Homepage.css */
:root {
  --primary-color: blue;
  --secondary-color: white;
  --background-color: rgba(255, 255, 255, 0.8);
  --text-color: #333;
}

.main-content {
  padding: 20px;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background: url('../Assests/hero_general.webp') no-repeat center center;
  background-size: cover;
  color: var(--secondary-color);
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: var(--primary-color);
  padding: 30px;
}

.search-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.search-box input,
.search-box select,
.search-box button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-box input,
.search-box select {
  background-color: var(--background-color);
  color: var(--text-color);
}

.search-box button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  border: none;
}

.themes {
  text-align: center;
  padding: 50px 20px;
}

.themes-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.themes_h1 {
  margin-bottom: 25px;
  color: var(--primary-color);
}

.theme-item {
  width: 100%;
  max-width: 150px;
  height: 150px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.theme-item img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.theme-item:hover {
  transform: scale(1.05);
}

.whatsapp-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
}

.whatsapp-link {
  text-decoration: none;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.whatsapp-icon {
  font-size: 3rem;
}

.whatsapp-text {
  margin-left: 10px;
  color: var(--secondary-color);
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 28px;
  }

  .search-box {
    flex-direction: column;
  }

  .search-box input,
  .search-box select,
  .search-box button {
    width: 100%;
    max-width: none;
  }

  .themes-container {
    gap: 10px;
  }

  .theme-item {
    max-width: 100px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }

  .theme-item {
    max-width: 80px;
    height: 80px;
  }

  .whatsapp-icon {
    font-size: 2.5rem;
  }

  .whatsapp-text {
    font-size: 1rem;
  }
}
