.booking-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.website-name {
  font-size: 32px;
  font-weight: bold;
  margin: auto;
}

.download-icon {
  font-size: 24px;
  color: #007bff;
  margin-right: 10px;
}

.delete-icon {
  font-size: 24px;
  color: red;
  margin-right: 10px;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-container,
.delete-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #007bff;
}

.delete-container:hover .delete-icon {
  color: red;
}

.download-container:hover .download-icon {
  color: #0056b3;
}

.home-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.home-button:hover {
  background-color: #0056b3;
}

.booking-header {
  text-align: center;
  margin-bottom: 20px;
}

.details-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.booking-details,
.billing-model {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  width: 48%;
}

.booking-details p,
.billing-model p {
  margin: 10px 0;
}

.billing-model h2,
.confirmation-text h2 {
  margin-bottom: 15px;
}

.confirmation-text {
  text-align: center;
  margin-top: 20px;
}

.content {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .booking-details,
  .billing-model {
    width: 100%;
  }

  .website-name {
    font-size: 28px;
  }
  
  .download-icon {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .booking-container {
    padding: 10px;
  }

  .website-name {
    font-size: 24px;
  }

  .booking-header h3 {
    font-size: 18px;
  }

  .booking-details p,
  .billing-model p {
    font-size: 14px;
  }

  .download-icon {
    font-size: 18px;
  }

  .icon-container {
    justify-content: center;
  }

  .details-container {
    gap: 10px;
  }
}
